.request_store {
  background: #FFCA86;
  height: 100%;
  padding: 40px;
  border-radius: 10px;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  text-align: center;
}
.request_el {
  display: flex;
  flex-direction: column;
  gap: 20px;
}