.request_store {
  display: flex;
  flex-direction: column;
  background: #ffca86;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  gap: 20px;
}
.header {
  text-align: center;
  font-size: 18px;
  line-height: 120%;
  color: #ffffff;
  font-weight: 700;
}
