.information {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #FFB841;
  box-shadow: 0 1px 5px #FFB841;
  border-radius: 10px;
  padding: 20px 40px;
}
.answer_text {
  font-size: 22px;
  font-weight: 500;
  line-height: 30px;
}
.question {
  display: none;
}