.information {
  display: flex;
  flex-direction: column;
  flex: 1;
  width: 100%;
  border: 1px solid #ffb841;
  box-shadow: 0 1px 5px #ffb841;
  border-radius: 10px;
  padding: 20px 40px;
  gap: 10px;
  overflow-y: auto;
}
