
.item_block {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    padding: 10px;
    border: 1px solid #c0c0c0;
    border-radius: 10px;
    font-size: 20px;
}
.response {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;

  line-height: 1;
}
.card {
    width: 100%;
}