.item_block {
  display: flex;
  flex-direction: column;
  /* width: 100%; */
  background-color: #fff;
  padding: 10px;
  border: 1px solid #c0c0c0;
  border-radius: 10px;
  font-size: 20px;
  color: orange;
}
.response {
  /* display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  line-height: 1;
  overflow: hidden; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
}
